<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://images.squarespace-cdn.com/content/v1/54fc8146e4b02a22841f4df7/adae5b77-380f-4c37-ae1a-97323e66ed55/Art_of_1.jpg" alt="" height="200px" >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova vesão do Angular</a></h1>
    </div>
    <div class="big-card__descrition">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, molestias ipsam rerum voluptates, sunt doloribus itaque placeat excepturi, quasi tenetur iure officiis quis aliquid rem neque! Amet quas doloribus velit.
            </a>
        </p>
    </div>
</div>
